h6 {
    margin: 5px
}

h6:hover {
    background-color: lightyellow;
  }

  .modal-body{
      display: flex;
      justify-items: center;
      justify-content: center;
  }

  input[type="text"]::placeholder{
      
      text-align: center;
  }

  .btn{
      color: white;
      font-size: 20px;
      width: 150px;
      height: 50px;
      background-color: rgb(136, 209, 27);
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

     
  }