<app-header></app-header>



<div class="container">
    <div class="card ">
        <div class="card-header">
            Your talent card
        </div>

        <div class="row">
            <div class="card-body col-md-8">
                <h5 class="card-title">Full Stack Developer</h5>
                <h6 class="card-text" style="padding: 5px; ">Experience <span style="margin-left: 50px ">2 Year</span></h6>
                <h6 class="card-text" style="padding: 5px">Currently In  <span style="margin-left: 46px ">Mumbai</span></h6>
                <h6 class="card-text" style="padding: 5px">Worked at  <span style="margin-left: 52px ">Eron infoWays </span></h6>
                <h6 class="card-text" style="padding: 5px">Current CTC  <span style="margin-left: 45px ">5.0 LPA </span></h6>
                <h6 class="card-text" style="padding: 5px">Expected  CTC  <span style="margin-left: 40px ">9.0 LPA </span></h6>
                <h6 class="card-text" >Skills <button class="btn btn-light" style="margin-left: 80px ">Angular</button> <button  class="btn btn-light">NodeJs</button> <button  class="btn btn-light">Javascript</button></h6>
                
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Employer Action on your Job application
                    </div>
                    <div class="card-body">

                    </div>
                   
                </div>
                <br>
                <div class="card bg-light text-dark">
                    <div class="card-body">Light card</div>
                </div>
            </div>
        </div>

        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>